<h1>Comments</h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.body, comment %>
      <br>
      <p>
        <strong>By:</strong>
        <%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %>
      </p>
      <p>***********************************</p>
    </li>
  <% end %>
</ul>
